[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

nltk = "*"
pyyaml = "*"
markovify = "*"
flask = "*"
randomsentence = {git = "https://github.com/patarapolw/randomsentence.git", editable = true}
gunicorn = "*"
diceware-utils = "*"


[dev-packages]

cython = "==0.25.2"
passwordstrength = {git = "https://github.com/patarapolw/passwordstrength.git", editable = true}
pronounceable = {git = "https://github.com/patarapolw/pronounceable.git", editable = true}
pytest = "*"
pytest-xdist = "*"
pytest-repeat = "*"
pytest-timeout = "*"
pytest-doctestplus = "*"
"d4a76af" = {file = "https://github.com/kivy/kivy/archive/master.zip"}
pygame = "*"
pillow = "*"
setuptools = ">=38.6.0"
wheel = ">=0.31.0"
twine = ">=1.11.0"


[requires]

python_version = "3.6"
