[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
nltk = "*"
pyyaml = "*"
markovify = "*"
randomsentence = {git = "https://github.com/patarapolw/randomsentence.git", editable = true}
diceware_utils = {git = "https://github.com/patarapolw/diceware_utils.git", editable = true}
gunicorn = "*"
flask = "*"

[dev-packages]
passwordstrength = {git = "https://github.com/patarapolw/passwordstrength.git", editable = true}
pronounceable = {git = "https://github.com/patarapolw/pronounceable.git", editable = true}
pytest = "*"
pytest-xdist = "*"
pytest-repeat = "*"
pytest-timeout = "*"
pytest-doctestplus = "*"

[requires]
python_version = "3.6"
