altgraph==0.15
appdirs==1.4.3
asn1crypto==0.24.0
attrs==17.4.0
certifi==2018.1.18
cffi==1.11.5
chardet==3.0.4
click==6.7
colorama==0.3.9
cryptography==2.2.2
docutils==0.14
duendecat==0.0.0
et-xmlfile==1.0.1
eventlet==0.22.1
Flask==0.12.2
greenlet==0.4.13
gunicorn==19.7.1
idna==2.6
itsdangerous==0.24
jdcal==1.3
Jinja2==2.10
macholib==1.9
markovify==0.7.1
MarkupSafe==1.0
Metaphone==0.6
modulegraph==0.16
more-itertools==4.1.0
nltk==3.2.5
numpy==1.14.2
-e git+https://github.com/patarapolw/passwordstrength.git@b1ab50af0095e953fd2e64ee430a74990e08273a#egg=passwordstrength
pew==1.1.2
pexpect==4.5.0
pipenv==10.1.0
pluggy==0.6.0
PolUtils==0.1.0.dev1
-e git+https://github.com/patarapolw/pronounceable.git@e87425d00f60253fa44164c496ff44c93ff5fa1a#egg=pronounceable
ptyprocess==0.5.2
py==1.5.3
pycparser==2.18
Pygments==2.2.0
pyOpenSSL==17.5.0
PyYAML==3.12
-e git+https://github.com/patarapolw/randomsentence.git@6edeff33f51d65653566ae4ba9433303cdfeba5a#egg=randomsentence
sh==1.12.4
sip==4.19.8
six==1.11.0
Unidecode==1.0.22
urllib3==1.22
virtualenv==15.1.0
virtualenv-clone==0.2.6
web-cache==1.0.2
websocket-client==0.47.0
Werkzeug==0.14.1
