<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Password generator and memorizer</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>

    <link rel="stylesheet" type="text/css" href=" {{ url_for('static', filename='main.css') }}">
    <style>
        .display {
            min-height: 1.5em;
            font-size: 20px;
        }
    </style>
</head>
<body>
    <div class="container">
        <form id="password-generator" action="/" method="post">
            <div>
                <div class="row mt-3 header"><h5>Password:</h5></div>
                <div class="row">
                    <div class="loading-container">
                        <div class="loading">
                            <!-- We make this div spin -->
                            <div class="spinner">
                                <!-- Mask of the quarter of circle -->
                                <div class="mask">
                                    <!-- Inner masked circle -->
                                    <div class="maskedCircle"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="password-display" class="display password"></div>
                </div>
            </div>
            <div>
                <div class="row mt-3 header"><h5>Sentence:</h5></div>
                <div class="row">
                    <div class="loading-container">
                        <div class="loading">
                            <!-- We make this div spin -->
                            <div class="spinner">
                                <!-- Mask of the quarter of circle -->
                                <div class="mask">
                                    <!-- Inner masked circle -->
                                    <div class="maskedCircle"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="sentence-display" class="display"></div>
                </div>
            </div>
            <div>
                <div class="row mt-3 header" id="from-header"><h5>Generate from:</h5></div>
                <div class="row">
                    <div class="input-group">
                        <select class="custom-select col-sm-2" id="from-select" name="from">
                            <option value="random" selected>Random</option>
                            <option value="keywords">Keywords</option>
                            <option value="initials">Initials</option>
                            <option value="pin">PIN</option>
                          </select>
                      <input type="text" class="form-control col-auto" aria-label="Text input with dropdown button"
                             placeholder="" disabled id="material" name="material">
                    </div>
                </div>
            </div>
            <div>
                <div class="row mt-3 header"><h5>Password type:</h5></div>
                <div class="row">
                <div class="btn-group btn-group-toggle" data-toggle="buttons">
                    <label class="btn btn-secondary active">
                        <input type="radio" name="type" value="password" id="type-password" autocomplete="off" checked>
                        Password
                    </label>
                    <label class="btn btn-secondary">
                        <input type="radio" name="type" value="pin" id="type-pin" autocomplete="off">
                        PIN
                    </label>
                </div>
            </div>
            </div>
            <div class="row">
                <button type="submit" class="btn btn-primary btn-lg btn-block mt-3">Generate</button>
            </div>
        </form>
    </div>
    <script>var password = "{{ password }}";</script>
    <script>var sentence = "{{ sentence }}";</script>
    <script src="{{ url_for('static', filename='renderer.js') }}"></script>
</body>
</html>