<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Password generator and memorizer</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>

    <link rel="stylesheet" type="text/css" href=" {{ url_for('static', filename='main.css') }}">
</head>
<body>
    <div class="container">
        <form action="/" method="post">
            <fieldset>
                <div class="row">
                    <div>Number of keywords:</div>
                    <input type="number" name="number_of_keywords" id="number_of_keywords"
                        min="1" max="6" value="4" required/>
                </div>
                <div class="row">
                    <div>Keywords:</div>
                    <div id="keywords"></div>
                </div>
                <div class="row">
                    <div>Password:</div>
                    <input type="text" name="password" id="password" />
                </div>
                <div class="col">
                    <div>Password type:</div>
                    <input type="radio" class="type" name="type" value="simple" checked>Simple
                    <input type="radio" class="type" name="type" value="leetspeak">Leetspeak
                    <input type="radio" class="type" name="type" value="pin">PIN
                </div>
                <div class="row">
                    <button type="submit" name="generate" value="password" onkeypress="return false;">
                        Generate Password</button>
                    <button type="submit" name="generate" value="mnemonic">Generate Mnemonic</button>
                    <button type="reset">Reset</button>
                </div>
                <div class="media">
                    <img src="" id="image" width="400">
                </div>
            </fieldset>
        </form>
    </div>
    <script>var content = {{ content|tojson }}</script>
    <script src="{{ url_for('static', filename='renderer.js') }}"></script>
</body>
</html>